/*
 * Chargement des fontes
 * Voir : http://cours-web.ch/css/typographie
*/


@font-face {
    font-family: 'notcouriersans';
    src: url('../fonts/NotCourierSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'notcouriersans';
    src: url('../fonts/NotCourierSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


html {
	font-family: notcouriersans, monospace;
	font-size: 4.5vw;
}
time {
	position: absolute;
	width: 33.3vw;
	text-transform: capitalize;
}

#minute {
	left: 33.3vw;
}

#seconde {
	left: 66.6vw;
}

/*
 * Définition du modèle de boîte
 * Voir : http://cours-web.ch/css/box-model
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
